/* Page-specific styling */
    .img{position:absolute;z-index:1;}
    #main {
    
    position: absolute;
    width: 100%;
    top: 80px; /* Same value as #content-header's height */
    left: 0;
    right: 0;
    bottom: 0;
     /* Enable scrollbars within main content section */
  }
    #words {
    display:inline-block;
    position:relative; 
    width: 100%;
    height: 100%;
  }
 
 #myCanvas{
    position:relative;
    width: 100%;
    height: 100%;
    z-index:20;
}
/*
  .statusBar {
    color: black;
  }
  */