/* Page-specific styling */
  .img{position:absolute;z-index:1;}
  #words {
    display:inline-block;
    width:100%; 
    height:100%;
    margin: 0 auto; 
    background: white; 
    position:relative; 
  }
  #myCanvas{
    position:relative;
    width:100%; 
    height:100%;
    z-index:20;
  }

  .statusBar {
    color: black;
  }